*{
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(2.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: rgb(250, 7, 7);
    font-size: 80px;
    font-family: italic;
    font-weight: bold;
    float: left;
    padding-top: 20px;
    text-shadow: 2px 2px 4px rgb(250, 7, 7);
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Times New Roman';
    font-weight: bolder;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: red;
}

.search {
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 30px;
    background: transparent;
    border: 1px solid rgb(250, 7, 7);
    margin-top: 13px;
    color: beige;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 30px;
    background: red;
    border: 2px solid red;
    margin-top: 13px;
    color: beige;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}

.btn.focus {
    outline: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(250, 7, 7); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #333;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #333;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 40vh;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: 0.3 ease;
    cursor: pointer;
}

.srch.focus {
    outline: none;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: beige;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Times New Roman';
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: rgb(250, 7, 7);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.cn:hover {
    background-color: beige;
}

.content span{
    color: rgb(250, 7, 7);
    font-size: 60px;
}

.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;

}

.form h2 {
    width: 220px;
    font-family: Times, serif;
    text-align: center;
    color: rgb(250, 7, 7);
    font-size: 22px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid red;
    border-top: none;
    border-right: none;
    border-left: none;
    color: beige;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: Times, serif;

}

.form input:focus{
    outline: none;
}

::placeholder{
    color: whitesmoke;
    font-family: Times, serif;
}

.btnn {
    width: 240px;
    height: 40px;
    background: red;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: beige;
    transition: 0.4s ease;
}

.btnn:hover {
    background: whitesmoke;
    color: red;
}

.btnn a{
    text-decoration: none;
    color: black;
}

.form .link{
    font-family: 'Times New Roman';
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: red;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a{
    text-decoration: none;
    color: beige;
}

.icons ion-icon{
    color: beige;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
  
.icons ion-icon:hover{
    color: red;
}


